*::after,
*::before,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  max-width: 1200px;
  color: black;
}

.container-icon {
  font-size: 40px;
  height: 40px;
}

img {
  max-width: 100%;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 30px 0 40px 0;
}

header img {
  cursor: pointer;
}

header .container-icon {
  padding: 66px 0 40px 0;
  position: relative;
}

header .container-icon:hover {

  cursor: pointer;
}


.contadorProductos {
  position: absolute;
  top: 55%;
  right: 0;

  background-color: black;
  color: white;
  width: 25px;
  height: 25px;

  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

#contador {
  font-size: 12px;
}

.container-productosCarrito {
  position: absolute;
  top: 103px;
  width: 400px;
  background-color: white;
  right: 0;
  z-index: 1;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
  border-radius: 10px;
  cursor: default;
}

.iconoCerrar {
  width: 25px;
  height: 25px;
  color: black;
}

.iconoCerrar:hover {
  background-color: gray;
  cursor: pointer;
}

.carrito-producto {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.20);
}

.hidden-cart {
  display: none;
}

.info-carrito-producto {
  display: flex;
  justify-content: space-between;
  flex: 0.8;
}

.titulo-producto {
  font-size: 20px;
}

.precio-producto {
  font-weight: 700;
  font-size: 20px;
  margin-left: 10px;
}

.cantidad-producto-carrito {
  font-size: 20px;
  font-weight: 400;
}

.total-carrito {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  gap: 20px;
}

.total-carrito h3 {
  font-size: 20px;
  font-weight: 700;
}

.total-pagar {
  font-size: 20px;
  font-weight: 900;
}

.container-items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.precio {
  font-size: 18px;
  font-weight: 900;
}

.info-producto button {
  border: none;
  background: none;
  background-color: black;
  color: white;
  padding: 15px 10px;
  cursor: pointer;
}

.info-producto {
  padding: 15px 30px;
  line-height: 2;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/*nashe*/

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.grid-item {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}

.cart-container {
  position: fixed;
  top: 0;
  right: 0;
  width: 20%;
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}

.logo {
  width: 180px;
}

/* CARTAS */

.card {
  border-radius: 10px;
  border-color: black;
  width: 300px;
  height: 400px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  perspective: 1000px;
  transform-style: preserve-3d;
}

.card:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
  transition: 0.5s;
}

.card figure {
  overflow: hidden;
}

.card:hover img {
  transform: scale(1.1);
}